<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="header::header" />
<body>
	<form action="#" method="post" th:action="@{/register}">
		<h1>注册</h1>
		<div th:if="${eMsg != null}" th:text="${eMsg}"></div>
		<div>
			<label>用户名</label> <input type="text" name="username" value="" />
		</div>
		<div>
			<label>密码</label> <input type="password" name="password" value="" />
		</div>
		<div>
			<button type="submit">注册</button>
		</div>
	</form>
</body>
<div th:include="footer::footer" th:remove="tag"></div>
</html>
